h1 {
    color: blue;
}
#tit_1 {
    font-size: 40px;

}
.noticias {
    font-family: arial;
}
p {
    font-size: 80px;
    color: orangered;
}
p,h1,h2,h3,h4 {
    background-color: gray;
    padding: 10px;
}
.destaque {
    color: blue;
    font-weight: bold;
}   
#conteudo {
    width: 70%;
    background-color: blanchedalmond;
    float: left;
}
#menu_contexto {
    width: 30%;
    background-color: lightgray;
    clear: both;
    float: left;
}
#rodapé {
    clear: both;
    text-align: center;
}

