/* seletores de elementos html
p {
    background-color: yellow;
}
*/

/* seletores de atributo id
#cabeçalho {
    background-color: lightgray;

}
*/

/*seletores de atributo class
.noticias {
    text-align: justify;
}
*/

/*seletores quisquer
[src]{
    float: left;
}
*/

/*seletores de atributos pseudo-class
:hover {
    color: red;
}
*/

/*seletores de atributos pseudo-elementos
P ::first-letter {
    font-size: 200%;
    color: red;
}
*/

/*seletores universais
* {
margin: 0;

}

*/



h1 {
    color: blue;
}
#tit_1 {
    font-size: 40px;
    background-color: orangered;
    line-height: 12pt;

}
.noticias {
    font-family: arial;
}
p {
    font-size: 80px;
    color: orangered;
}
p,h1,h2,h3,h4 {
    block-size: auto;
    background-color: gray;
    padding: 10px;
}
.destaque {
    color: blue;
    font-weight: bold;
}   
#conteudo {
    width: 70%;
    background-color: blanchedalmond;
    float: left;
}
#menu_contexto {
    width: 30%;
    background-color: rgb(211, 211, 211);
    clear: both;
    float: left;
}
#rodapé {

    clear: both;
    text-align: center;
}
 th {
    background-color: gray;
    color: white;
 }

td {
        background-color: rgb(241, 255, 240);
 }

 table {
    width:100%
 }
 caption {
    background-color: gray;
    font-weight: bolder;
    font-size: 30px;
 }
 * {
    margin: 0;
    padding: 0;
    color:black
 }
 :hover {
    background-color: lightgray;
    color: orangered;
 }
 
 body {

    margin: 0px;
    padding: 0px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#cabeçalho {
    background-color: lightgray;

}
